.main-flex {
  width: 100%;
  margin: 0%;
  padding: 0%;
  background: url("../assets/trama.png"); }

.header-flex {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center; }

#logo {
  min-width: 280px;
  max-width: 550px;
  flex-wrap: nowrap; }

@media screen and (min-width: 768px) {
  #logo {
    min-width: 450px; } }

.containerLogo {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  width: 100%; }

.indexSlide {
  margin: 0%;
  padding: 0px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center; }

#carouselIndex {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center; }

.carousel-item, .carousel-inner {
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  max-height: 700px;
  padding: 5%; }

.carousel-inner img {
  margin: auto;
  width: 100%;
  border-radius: 5%; }

@media screen and (min-width: 768px) {
  .carousel-inner img {
    min-width: 600px;
    min-height: 399px; }
  .carousel-inner {
    min-width: 700px;
    min-height: 466px; } }

.resena {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  background-color: #09183d;
  max-width: 50%;
  margin-top: 10px;
  margin-bottom: 10px; }

#textoResena {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif; }

.medio {
  position: relative;
  top: 5%;
  padding: 4%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center; }

.animada {
  flex-wrap: wrap;
  animation-duration: 3s;
  animation-name: slidein; }

#menucartaPagina1:hover {
  transform: scale(1, 2);
  min-width: 420px; }

#menucartaPagina2:hover {
  transform: scale(1, 2);
  min-width: 420px; }

.imagen, .imggaleria {
  margin: 40px;
  border-radius: 5%; }

#platoentremenu, #menucartaPagina1, #menucartaPagina2, #cafeentremenu {
  border-radius: 5%; }

@media screen and (min-width: 900px) {
  .imagen {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin: 70px;
    padding-left: 10px;
    padding-right: 10px; } }

.contacto {
  width: 100%;
  height: 50%;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  background: url("../assets/trama.png"); }

#iconosFinales {
  margin: 8px; }

.galeria {
  position: relative;
  top: 5%;
  padding: 4%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center; }

@keyframes slidein {
  from {
    margin-left: 100%; }
  to {
    margin-left: 0%; } }

@keyframes rotar {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
